.content-section {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

header {
  display: flex;
  align-items: center;
  padding: 94px 0;
}

.header__links-list {
  display: flex;
  gap: 33px;
  padding-right: 45px;
  padding-left: 26px;
  font-size: 18px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border: 0; /* для всех ссылок прописан border по умолчанию в global.css */
}

.header__logo {
  display: block;
  width: 130px;
  height: 105px;
  margin-right: 196px;
  border: 0;
}

.header__address {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgb(0 0 0 / 0.5);
}

.cover {
  position: relative;
  z-index: -1;
  height: 757px;
  padding-top: 162px;
  padding-right: 50px;
  padding-left: 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding-bottom: 135px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-left {
  line-height: 115%;
  text-align: left;
}

.text-center {
  margin-top: 19px;
  line-height: 100%;
  text-align: center;
}

.text-right {
  margin-top: 19px;
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 26px;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding-top: 180px;
}

.lots__heading {
  padding-bottom: 25px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  padding: 50px 40px;
}

.card_type_film {
  position: relative;
  z-index: -1;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  position: relative;
  z-index: -1;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  position: relative;
  z-index: -1;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-link {
  display: block;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.lots__card-list-item {
  list-style: none;
}

.lots__look-more-link {
  margin-left: 38px;
  font-size: 20px;
}

.about {
  padding-top: 181px;
  padding-bottom: 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__title {
  padding: 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about__logo-image {
  width: 142px;
  height: 113px;
  margin-top: 60px;
  margin-left: 50px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-left: 45px;
  border: 0;
  border-radius: 120px;
  background-color: black;
}

.about__text {
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
}

.about__text-no-padding {
  padding: 0;
}

.header__address-padding {
  padding-left: 26px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  border: 0;
}

.footer__social-link {
  border: 0;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  padding-right: 29px;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__menu {
  padding-left: 39px;
}
